.content{

  .boxes{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .box{
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 200px;
      height: 150px;
      h3{
        font-weight: 900;
        font-size:13px;
        color:#fff;
  
        padding: 10px;
        border-radius: 5px;
        position: absolute;
        bottom:0;
        left:0;
      }
      img{
        width: 80px;
      }
    }
    .red{
      background: #e74c3c;
    }
    .yellow{
      background: #f1c40f;
    }
    .blue{
      background: #2980b9;
    }
    .gray{
      background: #57606f;
    }
    .green{
      background: #27ae60;
    }
    .light-gray{
      background: #d35400;
    
    }
  }
}

@media only screen and (max-width: 600px) {
  .content{
    padding:10px!important;
    width: 100%!important;
    .boxes{
      width: 100%;
      .box{
        width: 100%!important;
      }
    }
    
  }
}